# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import pandas as pd
import numpy as np
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]
df=df.rename({'Postcode': 'PostalCode'}, axis=1)

##### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [2]:
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

##### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned

In [3]:
df1 = df[df.Borough != 'Not assigned']
df1.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

##### Merging muliple values for same postal code and Borough

In [4]:
df2=df.groupby(['PostalCode', 'Borough']).agg(lambda col: ','.join(col))
df2.head()

                                                Neighbourhood
PostalCode Borough
M1A        Not assigned                          Not assigned
M1B        Scarborough                          Rouge,Malvern
M1C        Scarborough   Highland Creek,Rouge Hill,Port Union
M1E        Scarborough        Guildwood,Morningside,West Hill
M1G        Scarborough                                 Woburn

##### Only process the cells that have an Not assigned Neighbourhood.

In [14]:
df3 = df1[df1.Neighbourhood == 'Not assigned']
df3.head()

  PostalCode       Borough Neighbourhood
8        M7A  Queen's Park  Not assigned

##### .shape method to print the number of rows of your dataframe

In [6]:
df.shape

(288, 3)